/* Contenido */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 2rem;
}

.featured-offer {
    width: 80%;
    text-align: center;
    background-color: #C87941;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.featured-offer figure {
    margin: 0.2rem;
}

.featured-offer h2 {
    margin: 0.2em;
}

.main-menu {
    width: 100%;
    height: auto;
    
    background-color: #C87941;
    border-radius: 5px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-menu {
    background-color: #EDC988;
    max-width: 360px;
    border: 1px solid black;
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
    border-radius: 5px;
}

.section-menu h3 {
    margin: 0.4em;
}

.section-menu figure {
    margin: 0.4em;
}

.text-menu {
    width: 100%;
}

.section-menu p {
    margin: 0.4em;
}

.responsive {
    width: 100%;
    max-width: 1520px;
    height: auto;
}

@media only screen and (max-width: 550px) {
    
    .main-container {
        margin: 0.2em;
    }
    .featured-offer {
        width: 100%;
    }
    
    .section-menu {
        background-color: #EDC988;
        border: 1px solid black;
        border-radius: 5px;
        
        width: 100%;
        min-height: auto;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        
    }
    
    .section-menu h3{
        width: 100%;
    }
    
    .text-menu {
        width: 40%;
        text-align: justify;
        padding-right: 0.1em;
    }
    
    .section-menu img {
        width: 80%;
        height: auto;
    }
    
    .section-menu figure {
        width: 50%;
        margin:0;
    }
}