.my-account-nav{
    background-color: #DF6C1B;
    text-align: center;
    border:0.2vw solid black;
}

.my-data{
   background-color: #DF6C1B;
    text-align: center;
    border:0.2vw solid black; 
}