.logUp-content {
    padding: 4em;
}

h2{
    font-size: 3em !important;
    font-weight: bold !important;
}

h3{
    font-weight: bold !important;
}

.form-content {
    text-align: center;
    background-color: #C87941;
}

.form-group{
    text-align: left;
}

.form-control {
    background-color: #fdb36e !important;
}

input:hover{
    background-color: #e6964c !important;
}

.form-button {
    width: 60%;
}

.row-button{
    text-align: center;
}

.form-button {
    padding: 1em !important;
    background-color: #E3670E !important;
    color:black !important;
    font-weight: bold !important;
    border: 2px black solid !important;
}

.form-button:hover {
    background-color: #f86700 !important;
}

.terms-cond {
    font-family: Consolas;
    text-align: center;
    padding: 1em 0 0.4em 0;
}

/* input:invalid {
    border: 2px dashed red !important;
  }
  
  input:valid {
    border: 2px solid rgb(19, 233, 0) !important;
  }
  
  input:focus:invalid {
    border: black !important;
  } */

@media only screen and (max-width: 750px) {
    .logUp-content {
        padding: 1.4em;
    }

    .form-button {
        width: 100%;
    }
}