/* Body */
.container {
    font-family: Arial, Helvetica, sans-serif;
    
    display: grid;
    height: auto;
    
    min-width: 1240px;
    max-width: 2640px;
    
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto 1fr auto 3fr;
    grid-template-areas:
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer footer footer ";
    grid-gap: 0.1rem;
    
    background-color: black;
}

/* Header */
header {
    grid-area: header;
}

header .logo {
    height: 140px;
}

header .header-logo-name {
    background-color: #843103;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 {
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
    
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;
    
    width: 100%;
    
    text-align: center;
}

header a{
    color: #FF8A00;
    text-decoration: none;
}

/* Nav */
nav {
    grid-area: nav;
    background-color: #87431D;
}
.topNav{    
    margin: 0;
    padding: 0;
    
    border: 1px solid black;
}

.topNav li{
    list-style-type: none;
    
    float:left;
}

.topNav a{
    float: left;
    color: black;
    padding: 14px 14px;
    text-decoration: none;
    text-align: center;
}

.topNav .rightLink {
    float: right;
}

.topNav .leftLink {
    float: left;
}

.topNav li {
    background-color: #C87941;
    margin: 5px;
    border-radius: 15px;
}

/* Main */
main {
    background-color: #EDC988;
    grid-area: main;
    
    border: 1px solid black;
}

/* Footer */
footer {
    background-color: black;
    grid-area: footer;
    
    border: 1px solid black;
}

@media only screen and (max-width: 550px) {
    
    .container {
        min-width: 360px;
        
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: auto 0.5fr auto 3fr;
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "main main main main main main"
            "footer footer footer footer footer footer ";
        grid-gap: 0.1rem;
    
    }
    
    header .header-logo-name {
        text-align: center;
    }
    
    header .logo {
        display:none;
    }
    
    header h1 {
        font-size: 2em;
        margin: 0;
        padding: 1rem 1rem 1rem 1rem;
        margin: 0;
    }
    
    header a {
        width: 100%
    }
    
    /* nav */

    .topNav a{
        float: left;
        color: black;
        text-decoration: none;
        
        width: 100%;
        margin:0;
    }
    
    .topNav .rightLink {
        display: flex;
        flex-direction: column;
            
        padding: 0;
        margin: 0;
        
        width: 50%;
    }

    .topNav .leftLink {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        padding: 0;
        margin: 0;
        
        width: 50%;
    }

    .topNav li {
        border-radius: 5px;
    }
    
    .topNav li a {
        padding: 0 0 0 0;
    }
    
    ul.leftLink a {
        padding: 0.5em 0.5em 0.5em 0.5em ;
    }
    
    ul.rightLink a {
        padding: 0.5em 0.5em 0.5em 0.5em ;
    }
    
}