<!-- Contenido. -->
<main class="row justify-content-center">
    <main class="row justify-content-center">
        <!--imagen de fondo-->
        <div class="bg"></div>

        <!-- Banner de la oferta -->
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-12  align-self-center responsive-texts container-index">
                <h2>¡Productos destacados!</h2>

                <div class="recommendation-section">
                    <article id="menu">
                        <!-- Título -->
                        <div class="row">
                        </div><!-- Fin Título -->
                    </article>
                </div>

            </div>
        </div>

        <!-- Menú con las opciones principales de nuestro sitio -->
        <div class="row responsive-texts justify-content-center">
            <!-- Nuestra carta-->
            <section class="col-xs-12 col-md-4 container-index" id="index-menu">
                <h3>Nuestra Carta</h3>
                <div class="row justify-content-center">
                    <figure class="col-5 offset-1">
                        <%=image_tag("carta/carta.jpg",:class=> "img-responsive w-100")%>

                    </figure>
                    <div class="col-6">
                        <p>Echa un ojo a nuestra carta, tenemos una seleccion de las mejores
                            pizzas de la ciudad, y para todos los gustos.<br> [<a href="./menu.html">Ver más</a>]</p>
                    </div>
                </div>
            </section>

            <!-- Menús y Ofertas -->
            <section class="col-xs-12 col-md-4 container-index" id="index-sales">
                <h3>Menús y Ofertas</h3>
                <div class="row justify-content-center">
                    <figure class="col-5 offset-1">
                        <%=image_tag("carta/oferta.jpg",:class=> "img-responsive w-100")%>

                    </figure>
                    <div class="col-6">
                        <p>Ahorra dinero en articulos seleccionados, o elige un menú
                            completo para ti o para compartir.<br> [<a href="./offers.html">Ver más</a>]</p>
                    </div>
                </div>

            </section>

        </div>

        <div class="row responsive-texts justify-content-center " id="index-delivery">
            <!-- Entrega a domicilio -->
            <section class="col-xs-12 col-md-4 container-index">
                <h3>Entrega a Domicilio</h3>
                <div class="row justify-content-center">
                    <figure class="col-5 offset-1">
                        <%=image_tag("carta/pizza-box.jpg",:class=> "img-responsive w-100")%>
                    </figure>

                    <div class="col-6">
                        <p>Con nuestro servicio a domicilio, podras pedir lo que quieras a donde quieras,
                            solo inicia sesión y dinos donde te encuentras. [<a href="#">Ver más</a>]</p>
                    </div>
                </div>
            </section>

            <!-- Nuestros restaurantes -->
            <section class="col-xs-12 col-md-4 container-index" id="index-restaurants">
                <h3>Nuestros Restaurantes</h3>

                <div class="row justify-content-center">
                    <figure class="col-5 offset-1">
                        <%=image_tag("otros/gps.jpg",:class=> "img-responsive w-100")%>
                    </figure>

                    <div class="col-6">
                        <p>Consulta nuestros restaurantes y horarios. Inicia sesión para
                            poder realizar reservas en tu restaurante más cercano.<br> [<a
                                href="./hour_locations.html">Ver más</a>]</p>
                    </div>
                </div>
            </section>
        </div>
    </main>