<!-- Contenido. -->
<main class="logUp-content">

    <div class="bg"></div>

    <div class="main-container responsive-texts">

        <article>

            <div class="container-fluid form-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <h2>Registro</h2>
                    </div>
                </div>

                <!-- Form -->
                <form method="POST" id="logUp-form" action="#">
                    <div class="form-row">
                        <div class="col-xs-12 col-sx-12 col-md-6">

                            <h3>Cuenta</h3>

                            <!-- Correo electrónico -->
                            <div class="form-group">

                                <label for="input-email">Correo electrónico</label>
                                <input id="input-email" class="form-control" type="text" placeholder="correo@mail.com"
                                    required pattern="\w{1,}@\w{1,}\.\w{1,}\s*" oninput="checkEmailValidity()">
                            </div>

                            <!-- Repetir el correo electrónico -->
                            <div class="form-group">
                                <label for="input-re-email">Repetir correo electrónico</label>
                                <input id="input-re-email" class="form-control" type="text" required
                                    pattern="\w{1,}@\w{1,}\.\w{1,}\s*" oninput="checkEmailValidity()">
                            </div>

                            <!-- Contraseña -->
                            <div class="form-group">
                                <label for="input-pass">Contraseña</label>
                                <input id="input-pass" class="form-control" type="password" minlength="8" maxlength="32"
                                    oninput="checkPasswordValidity()" required>
                            </div>

                            <!-- Repetir contraseña -->
                            <div class=" form-group">
                                <label for="input-re-pass">Contraseña</label>
                                <input id="input-re-pass" class="form-control" type="password" minlength="8"
                                    maxlength="32" oninput="checkPasswordValidity()" required>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sx-12 col-md-6">

                            <h3>Datos personales</h3>

                            <!-- Nombre -->
                            <div class="form-group">
                                <label for="input-name">Nombre</label>
                                <input id="input-name" class="form-control" type="text" required>
                                <!-- pattern="^[A-Za-z]{1,}$" -->
                            </div>

                            <!-- Apellidos -->
                            <div class="form-group">
                                <label for="last-name">Apellidos</label>
                                <input id="last-name" class="form-control" type="text">
                                <!-- pattern="(\w{1,}\s{0,1}){1,3}" -->
                            </div>

                            <!-- Edad -->
                            <div class="form-group">
                                <label for="input-age">Edad</label>
                                <input id="input-age" class="form-control" type="number" required min="8" max="110"
                                    value="16" oninput="checkAge()">
                            </div>

                            <!-- Teléfono móvil -->
                            <div class="form-group">
                                <label for="input-tel">Teléfono</label>
                                <input id="input-tel" class="form-control" type="tel"
                                    pattern="^([+]{1}\d{1,3}\s{0,1}){0,1}\d{6,12}$" required>
                            </div>
                        </div>
                    </div>

                    <div class="row-button">
                        <button type="submit" class="btn btn-primary form-button ">Registrarse</button>

                        <div class="col-md terms-cond">
                            <p>Al crear la cuenta, aceptas nuestros <a href="#">términos y condiciones</a>.
                                Por favor, lee nuestra <a href="#">política de privacidad</a> y nuestra <a
                                    href="#">política de cookies</a>.</p>
                        </div>

                    </div>
                </form>
            </div>
        </article>
    </div>
</main>