.pageWrapper{
    padding-left: 5%;
    padding-right: 5%;
    
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    min-width: 1240px;
    max-width: 2640px;
}

/*Clases relacionadas con el header*/

.siteHeader{
    margin-top: 10px;
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    border: solid black;
}

.siteHeader h1{
    min-width: 70%;
    font-size: 4vw;
    align-self:baseline;
    margin-left: 20%;
}

.siteHeader img{
    max-width: 250px;
    max-height: 180px;
    
    margin-left:5%;
    margin-right: 10%;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*clases de la navegacion*/ 

.topNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    border: solid black;
    background-color: #dddddd;
}

.topNav li{
    min-width: 10%;
    min-height: 10px;
    float:left;
    border-right: 1px solid #bbb;
}

.topNav .rightLink{
    float: right;
    border-right: none;
    border-left: 1px solid #bbb;
}

.topNav a{
    display: block;
    font-size: 1.5vw;
    padding: 14px;
    text-align: center;
}

.mainPageSection{
    position: relative;
    overflow: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    clear:both;
    padding-bottom: 50px;
}

.mainPageSection h2{
    min-width: 100%;
    font-size: 3vw;
    text-align: center;
}

.articulosPrincipales{
    margin-left: 5%;
    margin-top: 20px;
    max-width: 40%;
    border: solid black;
    border-radius: 25px;
    padding: 20px; 
    float:left;
    
}


.articulosPrincipalesDer{
    margin-right:5%;
    margin-top: 20px;
    max-width: 40%;
    border: solid black;
    border-radius: 25px;
    padding: 20px; 
    float:right;
    
}

footer{
    position: absolute;
    bottom:auto;
    left: 0;
    height: 10%;
    background-color: red; 
    width: 100%;
    text-align: center;
    border-top:solid black;
    clear:both;
}

.infoCuenta{
    float: left;
    width:65%;
    height: 65%;
    margin-left:5%;
    padding-left:5px;
    padding-right: 5px;
    border: solid 1px black;
    background-color: green;
}

.infoCuenta h3{
    text-align: center;
    font-size: 1.5em;
}

.sideNav{
    background-color: grey;
    float:left;
    border: solid black;
    width: 25%;
}

.sideNav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sideNav li{
    min-height: 2em;
    border-bottom: solid #bbb;
}

.sideNav li:last-of-type{
    border-bottom: none;
}

.sideNav a{
    display: block;
    font-size: 1.5vw;
    padding: 14px;
    text-align: center;
}

.resumenPedido{
    float:left;
    width: 65%;
    margin-bottom: 1.5em;
    padding-bottom: 2em;
    text-align: center;
    border: solid black;
}

.promocion{
    margin-right: 5%;
    margin-bottom: 1em;
    padding-bottom: 1.5em;
    text-align: center;
    float: right;
    width:25%;
    border: solid black;

}

.metodoPago{
    float:right;
    clear:right;    
    margin-right: 5%;
    padding-bottom:1.5em; 
    text-align: center;
    width:25%;
    border:solid red;
}

.direccionEntrega{
    width:65%;
    text-align: center;
    padding-bottom:1.5em; 
    border:solid grey;
    clear: left;
}

.botonPago{
    float: right;
    clear: right;
    max-width: 25%;
    margin-right: 5%;
    margin-top: 3em;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 2em;
}

.mainPageSection .tituloPagos{
    font-size: 1.5vw;
}

/* =========================== Carta =======================================  */
.carta-mainPageSection {
    display: flex;
    flex-direction: column;
}

.productosCarta {
    margin-bottom: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
    border: solid black;
    border-radius: 10px;
}

.productWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.boxProduct {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 260px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid black;
    border-radius: 10px;
}

.productosCarta h3{
    font-size: 2vw;
    align-self:baseline;
    align-self: center;
    width: 98%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    border: solid black;
    border-radius: 10px;
}

.carta-mainPageSection h2{
    font-size: 3vw;
    align-self: center;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    border: solid black;
    border-radius: 10px;
}
/* =========================================================================  */

/* ============================ Vista Producto ============================== */
.vistaProducto-mainPageSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vistaProducto-mainPageSection h2{
    width: 100%;
    
    margin-bottom: 1%;
    margin-top: 1%;
    
    border: solid black;
    border-radius: 10px;
}

.imgProducto{
    width: 68%;
    
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    
    border: solid black;
    border-radius: 10px;
}

.description {
    width: 27%;
    
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    
    padding-left: 1%;
    padding-right: 1%;
    
    border: solid black;
    border-radius: 10px;
    
    font-size: 150%;
    text-align: justify;
}

.ingredients {
    width: 66%;
    
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    
    padding-left: 1%;
    padding-right: 1%;
    
    border: solid black;
    border-radius: 10px;
    
    font-size: 150%;
    text-align: justify;
}

.amount{
    width: 29%;
    
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
    
    border: solid black;
    border-radius: 10px;
    
    font-size: 200%;
    text-align: center;
}

.vistaProducto-mainPageSection h2{
    font-size: 3vw;
    align-self: center;
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
    border: solid black;
    border-radius: 10px;
}

/* ========================================================================== */

/*Diseño para dispositivos moviles, la navegacion cambia a ser una por linea*/
@media screen and (max-width: 800px) {
    .topNav li{
        width: 100%;
        border-bottom: solid black;
    }
    
    .topNav li:last-child{
        width: 100%;
        border-bottom: none;
    }
    
    .topNav a {
        font-size:2vw;        
    }
}