.my-account-nav{
    background-color: #009246;
    text-align: center;
    border-right:0.1vw solid black;
}

.my-account-nav a{
    color:black;
    font-size: 1vw;
    display: inline-block;
}

.my-data{
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: rgba(206,43,55,0.95);
    border:0.2vw solid black; 
}

.my-data h3{
	color:black;
}

.my-account-button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}